.center{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
  }

  span {
    margin-left: 15px;
    margin-right: 15px;
    margin:2;
    }